/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default styling */
a {
    text-decoration: none;
    background: color;
}

li {
    list-style-type: none;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Satoshi', sans-serif;
}

.header {
    /* border: 2px solid red; */
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    padding: 15px;
}

.sidebar {
    /* border: 2px solid black; */
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    background: #fff;
    color: black;
    min-height: 100vh;
    /* display: none; */
    overflow-x: hidden;
    /* opacity: 0; */
    transition: 0.5s;
    text-align: center;
}

.close {
    /* border: 2px solid red; */
    text-align: center;
    padding: 10px 20px;
    text-align: right;
    cursor: pointer;
}

.icon {
    vertical-align: middle;
    font-size: 18px;
}

.list-item {
    /* border: 2px solid purple; */
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
}

.list-item:hover {
    background: #e5e5e5;
}

.link {
    font-size: 14px;
    font-weight: 500;
    color: black;
    line-height: 1.7;
    letter-spacing: 1.5px;
}

#icon {
    cursor: pointer;
}

/* Responsive design */

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        min-width: 100vw;
    }
}

/* Media queries for Tablet ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        min-width: 100vw;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        min-width: 100vw;
    }
}

/* Media query for large screens */
@media (min-width: 1281px) {
    body {
        min-width: 100vw;
    }
}