/* Root style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default style */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Body */
body {
    min-height: 100vh;
    font-family: 'source code pro';
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.desktop-header {
    /* border: 2px solid black; */
    height: 60px;
    min-width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.desktop-navbar {
    /* border: 2px solid red; */
    min-width: 80%;
    margin: auto;
}

.desktop-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.desktop-link {
    font-size: 14px;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
}

/* Mobile header */
.mobile-header {
    /* border: 2px solid red; */
    height: 50px;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.mobile-brand {
    /* border: 2px solid purple; */
    width: 50%;
    text-align: left;
}

.mobile-menu-icon {
    /* border: 2px solid yellow; */
    width: 50%;
    text-align: right;
}

.mobile-navbar {
    /* border: 2px solid red; */
    max-width: 95%;
    margin: auto;
    height: 120px;
    display: none; /* display none by default */
}


.mobile-list {
    /* border: 2px solid black; */
    min-width: 100%;
}

.mobile-item {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
    padding: 10px;
}

.mobile-link {
    font-size: 14px;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
}

/* Media queries for mobile */
@media (max-width: 480px) {

    /* Hide desktop header */
    .desktop-header {
        display: none;
    }

    .mobile-navbar {

    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

    /* Hide desktop header */
    .desktop-header {
        display: none;
    }
}

/* Media queries for Tablet ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

    /* Hide desktop header */
    .desktop-header {
        display: none;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {

    /* Hide mobile header */
    .mobile-header {
        display: none;
    }

}

/* Media query for large screens */
@media (min-width: 1281px) {

    /* Hide mobile header */
    .mobile-header {
        display: none;
    }
}